@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body {
    font-family: "Poppins", sans-serif;
    margin: 0;
    padding: 0;
}

main {
    height: 100vh;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.text-section {
    text-align: center;

    width: 40rem;
    margin-bottom: 4rem;

    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0rem;
}

.title {
    font-size: 2.1rem;
    letter-spacing: 0.1rem;
    color: hsl(234, 12%, 34%);

    margin-bottom: 1.5rem;
}

.thin {
    font-weight: 200;
}


.desc {
    color: hsl(234, 12%, 34%);
    font-weight: 400;
    font-size: 0.9rem;

    max-width: 30rem;
    margin: 0;
}







.card-section {
    display: flex;

    width:69rem;
    height: 33rem;

    gap: 2rem;
}



.left {
    display: flex;
    flex-direction: column;
    justify-content: center;
}


.center {
    display: flex;
    flex-direction: column;
    justify-content: center;

    gap: 2rem;
}

.right {
    display: flex;
    flex-direction: column;
    justify-content: center;
}


.card {
    width: 21.7rem;
    height: 15.4rem;
    border-radius: 0.1rem;

    padding: 1rem 1.9rem;
    box-sizing: border-box;

    line-height: 1.1rem;

    box-shadow: 0 20px 20px 7px hsl(229, 6%, 66%, 0.2), 0 20px 20px -10px hsl(212, 86%, 64%, 0.2);

    color: hsl(234, 12%, 34%);
}

.card > h3 {
    font-weight: 600;
}

.card > p {
    font-size: 0.82rem;
}


.card-image-div {
    margin-top: 3rem;

    text-align: right;
}



.supervisor {
    border-top: 0.15rem solid hsl(180, 62%, 55%);
}

.team-builder {
    border-top: 0.15rem solid hsl(0, 78%, 62%);
}

.karma {
    border-top: 0.15rem solid hsl(34, 97%, 64%);
}


.calculator {
    border-top: 0.15rem solid hsl(212, 86%, 64%);
}






@media screen and (max-width: 1150px) {
    main {
        padding: 5rem 0rem
    }
    .card-section {
        flex-direction: column;
        align-items: center;
    }
}

@media screen and (max-width: 500px) {
    .text-section {
        width: 90%;
    }

    .card-section {
        width: 90%;
    }

    .card {
        width: 100%;
    }
}
